# The port you want to use to access Element in your browser (e.g., http://localhost:8080)
HOST_PORT=8085

# The port nginx listens on *inside* the container.
# Change this if you run into root privilege issues on older Docker runtimes (e.g., set to 8080).
ELEMENT_WEB_PORT=80